body
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "HELLO WHITE";
    font-size: 35px;
    margin: 0;
    padding: 2;
}

#cabecera 
{
    background: lightgreen;
    font-size: 50px;
    box-shadow: 20px 30px 30px 5px rgba(0, 0, 0, 0.75);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 3;
    padding: 0.8em;
}

#cabecera #tagline
{
    margin: lem 0 0 0 lem;
    font-weight: normal;
    font-size: 0.6em;
}

#container
{
    width: 90%;
    padding: 0;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
}

#container h1
{
    font-size: 40px;
}
#post 
{
    font-size: 45px;
    margin: 0;
    padding: 5;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}